body, html{
    margin:0;
    padding:0;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
}

td{
    font-size:50px;
    border: 1px solid #000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}table{
    background-color: rgb(255, 254, 173);
    padding:10px 10px;
}
th{
    font-size: 50px;
    font-family: 'Times New Roman'
    
}